<header class="business-header">
    <div class="container">

        <div class="row" id="upper-header">
          <div class="col-xs-8 col-xs-offset-2">
            <image id="homepage_logo" src="/images/official_betapod_logo.png">
          </div>
        </div>

        <div class="row" id="lower-header">
          <div class="col-sm-5 value-prop">
            <h1><strong>Get that new tech excitement, without that new tech price.</strong></h1>
            <h2>BetaPod's monthly subscription service lets you test new technologies without having to buy them!</h2>
          </div>

          <div class="col-sm-1 middle-border"></div>
          <div class="col-sm-1"></div>

          <div class="col-sm-5">
          	<div class="form-box">
          		<div class="form-top">
                <div class="form-top-left">
            			<h3>Sign up now</h3>
                		<p>Fill in the form below to sign up for our mailing list, and we'll get you started right away!</p>
            		</div>
                <div class="form-top-right">
            			<i class="fa fa-pencil"></i>
            		</div>
               </div>
               <div class="form-bottom">
                <form role="form" action="//betapod.us15.list-manage.com/subscribe/post?u=1fd9630b821785d5b2b1b631f&amp;id=c413de16af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="registration-form">
                	<div class="form-group">
                		<label class="sr-only" for="form-first-name">First name</label>
                    	<input type="text" name="FNAME" placeholder="First name" class="form-first-name form-control" id="form-first-name">
                   </div>
                  <div class="form-group">
                  	<label class="sr-only" for="form-last-name">Last name</label>
                  	<input type="text" name="LNAME" placeholder="Last name" class="form-last-name form-control" id="form-last-name">
                  </div>
                  <div class="form-group">
                  	<label class="sr-only" for="form-email">Email</label>
                  	<input type="text" name="EMAIL" placeholder="Email" class="form-email form-control" id="form-email">
                  </div>
                  <button type="submit" class="btn">GET STARTED TODAY!</button>
                </form>
               </div>
          	</div>
          </div>


        <!-- MAIL CHIMP FORM
          <form action="//betapod.us15.list-manage.com/subscribe/post?u=1fd9630b821785d5b2b1b631f&amp;id=c413de16af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          	<h2>Subscribe to our mailing list</h2>
          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="mc-field-group">
          	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
          </label>
          	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
          </label>
          	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1fd9630b821785d5b2b1b631f_c413de16af" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          -->
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row page-section">
        <div class="col-sm-12 sub-header">
            <h2>Experience the <strong>new</strong> way to test-drive groundbreaking technology.</h2>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
          <h3>BetaPod's monthly subscription service allows you to explore the latest devices from a variety of insdustries.
              All you need to do is sign up and we'll email you all the details regarding the tech devices we have in stock. Then, every two weeks we'll send you something from your list in a pod.
              Once you're done, just send it back!
           </h3>
        </div>
    </div>
    <!-- /.row -->
    <hr>

    <div class="row page-section">
      <div class="col-sm-12 sub-header">
        <h2 id="how-it-works">How it works:</h2>
      </div>

      <div class="col-sm-4">
        <img class="centered-image homepage_icon" src="/images/homepage_images/email_icon.png" alt="">
        <h3>1. <strong>Sign up</strong> for our email list!</h3>
      </div>
      <div class="col-sm-4">
        <img class="centered-image homepage_icon" src="/images/homepage_images/pod_thumbnail.png" alt="">
        <h3>2. <strong>Curate</strong> your pod, order, and enjoy!</h3>
      </div>
      <div class="col-sm-4">
        <img class="centered-image homepage_icon" src="/images/homepage_images/repeat_thumbnail.png" alt="">
        <h3>3. Send it back and <strong>repeat</strong>!</h3>
      </div>
    </div>

    <hr>

    <div class="row page-section">
        <div class="col-sm-6">
            <img class="centered-image homepage-product" src="/images/products/echodot.jpg" alt="">
            <h2>Try the <strong>latest</strong> tech</h2>
            <p>BetaPod's monthly subscription service allows you to explore the latest devices from a variety of insdustries.</p>
        </div>
        <div class="col-sm-6">
            <img class="centered-image homepage-product" src="/images/products/snapchat_glasses.jpg" alt="">
            <h2><strong>Delivered</strong> right to your door</h2>
            <p>All you need to do is sign up and choose the tech which interests you. Then, every two weeks we'll send you something from your list in a pod. Once you're done, just send it back!</p>
        </div>
    </div>
    <!-- /.row -->
    <hr>

    <div class="row page-section">
      <div class="col-xs-12">
        <h3>Start experiencing the latest groundbreaking devices in just a matter of minutes by signing up for our email list!</h3>
        <button type="submit" class="btn" id="lower-call-to-actn" onclick="$('html,body').animate({scrollTop:0},'slow');">GET STARTED TODAY!</button>
      </div>
    </div>

    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; BetaPod 2017</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
