<div class="container-fluid">
  <div class="content-wrapper">
	<div class="item-container">
		<div class="container">
      <div class='row'>

          <div class="product col-md-4 service-image-left">
						<center>
							<img id="item-display" src="{{product_image}}" alt=""></img>
						</center>
					</div>


				<div class="col-md-7">
					<div class="product-title"><h2>{{product_title}}</h2></div>
					<div class="product-desc">{{product_description}}</div>
					<hr>
  				<div id="myTabContent" class="tab-content">
  						<div> 

                <h3>Description</h3>
                  <p class="product-info">{{product_info}}</p>


  						</div>
  					<div class="tab-pane fade" id="service-two">

  						<section class="container">

  						</section>

  					</div>
  					<div class="tab-pane fade" id="service-three">

  					</div>
  				</div>
  			</div>
			</div>
    </div>
	</div>
</div>



</div>
