<div class="container">

        <div class="row">

            <!--tier div in case we want that later
            <div class="col-md-3">
                <p class="lead">Tiers</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Tier 1</a>
                    <a href="#" class="list-group-item">Tier 2</a>
                    <a href="#" class="list-group-item">Tier 3</a>
                </div>
            </div>
            -->

            <div class="col-md-12">

                <!-- Carousel in case we want it later
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                end -->

                <div class="row">

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                        <div class="thumbnail">
                          <div class="thumbnail-image-container">
                            <img src="/images/products/fitbit.png" alt="" class="thumbnail-image">
                          </div>
                            <div class="caption">
                                <!--
                                <h4 class="pull-right">$24.99</h4>
                              -->
                                <h4><a href="/products/fitbit">Fitbit Flex</a>
                                </h4>
                                <p>Try our Fitbit Flex!</p>
                            </div>
                            <!--
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                          -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                        <div class="thumbnail">
                          <div class="thumbnail-image-container">
                            <img src="/images/products/echodot.jpg" alt="" class="thumbnail-image">
                          </div>
                            <div class="caption">
                                <h4><a href='/products/echo'>Echo Dot</a></h4>

                                <p>Try our Amazon Echo Dot!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                        <div class="thumbnail">
                          <div class="thumbnail-image-container">
                            <img src="/images/products/drone.jpg" alt="" class="thumbnail-image">
                          </div>
                            <div class="caption">
                                <h4><a href="/products/drone">Drone</a>
                                </h4>
                                <p>Try our drone!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                        <div class="thumbnail">
                          <div class="thumbnail-image-container">
                            <img src="/images/products/snapchat_glasses.jpg" alt="" class="thumbnail-image">
                          </div>
                            <div class="caption">

                                <h4><a href="/products/snapchat_glasses">Snapchat Glasses</a>
                                </h4>
                                <p>Try our Snapchat Glasses!</p>
                            </div>

                        </div>
                    </div>
                    <!-- end row-->
                  </div>

                  <div class="row">

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                      <div class="thumbnail">
                        <div class="thumbnail-image-container">
                          <img src="/images/products/leap_motion.jpg" alt="" class="thumbnail-image">

                        </div>
                        <div class="caption">

                            <h4><a href="/products/leap_motion">Leap Motion</a>
                            </h4>
                            <p>Try our Leap Motion!</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                      <div class="thumbnail">
                        <div class="thumbnail-image-container">
                          <img src="/images/products/360_camera.jpg" alt="" class="thumbnail-image">
                        </div>
                        <div class="caption">

                            <h4><a href="/products/360_camera">LG G5 360 Camera</a>
                            </h4>
                            <p>Try our LG G5 360 Degree Camera!</p>
                        </div>

                      </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                      <div class="thumbnail">
                        <div class="thumbnail-image-container">
                          <img src="/images/products/3-d_pen.jpg" alt="" class="thumbnail-image">
                        </div>
                        <div class="caption">

                            <h4><a href="/products/3-d_pen">Soyan 3-D Pen</a>
                            </h4>
                            <p>Try our Soyan 3-D Pen!</p>
                        </div>

                      </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
                      <div class="thumbnail">
                        <div class="thumbnail-image-container">
                          <img src="/images/products/rocketbook_wave.jpg" alt="" class="thumbnail-image">
                        </div>
                        <div class="caption">

                            <h4><a href="/products/rocketbook_notebook">Rocketbook Notebook</a>
                            </h4>
                            <p>Try our Smart Notebook</p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
